.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 18px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
}
.image {
  object-fit: contain;
  width: 100% ;
  position: relative !important;
  height: unset !important;
}
.selected{
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
}